*{ 
	margin: 0; 
	padding: 0; 
}
a { 
	font-size: 10px;
	text-decoration: none; 
}
ul { 
	list-style: none; 
}
body, html { 
	height: 100%; 
	font-family: "微软雅黑"; 
}
.box { 
	width: 100%;
	margin-top: 15px; 
}
#container1,  #container2 { 
	width: 100%; 
	height: 100%; 
}
#container3 { 
	width: 80%; 
	height: 100%; 
}
.list { 
	width: 20%; 
	height: 100%; 
	background: #eee; 
}
.list li { 
	height: 34px; 
	line-height: 34px; 
}
.list li.active a { 
	color: red; 
}
.title { 
	font-size: 14px; 
	font-weight: bold; 
	color: #cc5522; 
}
.content { 
	font-size: 13px; 
	color: #333; 
	margin-top: 6px;
}
.fl { 
	float: left; 
}
.border{
	border: #707070 1px solid;
	margin-top: 15px;
	border-radius: 20px;
}
.text-style{
	height: 32px;
	border-style: none;
	outline: none;
}
.btn-style{
	outline: none;
	margin-top: 6px;
	float: right;
}
