<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>攻略</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/guides.css">
	</head>
	
	<body>
		<div class="container pic">
			<!--图片-->
			<div class="row padding" >
				<div class="col-xs-12">
					<img src="img/place.jpg" class="pic_place pic_width"/>
				</div>
			</div>
			
			<!--导航-->
			<div class="nav text-center nav-style">
				<div class="guides float-left div_style guides_style">攻略</div>
				<div class="food float-left div_style">美食</div>
				<div class="culture float-left div_style culture_style">人文</div>
			</div>
			<!--面板-->
			<div id="box">
				<div class="panel panel-gulide float-left over margin">
					<template v-for="(guides,index) in guides">
						<div> 
							<b class="size">{{guides.title}}</b>
							<div class="text">
								{{guides.context}}
								<div class="float-right">
									<img src="img/love.png" class="width"/><span>{{guides.num}}</span><span>&nbsp;&nbsp;{{guides.time}}</span>
								</div>
							</div>
							<p class="margin-top"><a href="#" class="color">文章来源：{{guides.source}}</a></p>
						</div>
					</template>
				</div>
				<div class="panel panel-food margin1 over" style="margin-top: 15px;">
					<template v-for="(food,index) in food">
						<div> 
							<b class="size">{{food.title}}</b>
							<div class="text">
								{{food.context}}
								<div class="float-right">
									<img src="img/love.png" class="width"/><span>{{food.num}}</span><span>&nbsp;&nbsp;{{food.time}}</span>
								</div>
							</div>
							<p class="margin-top"><a href="#" class="color">文章来源：{{food.source}}</a></p>
						</div>
					</template>
				</div>
				<div class="panel panel-culture margin1 over" style="margin-top: 15px;">
					<template v-for="(culture,index) in culture">
						<div> 
							<b class="size">{{culture.title}}</b>
							<div class="text">
								{{culture.context}}
								<div class="float-right">
									<img src="img/love.png" class="width"/><span>{{culture.num}}</span><span>&nbsp;&nbsp;{{culture.time}}</span>
								</div>
							</div>
							<p class="margin-top"><a href="#" class="color">文章来源：{{culture.source}}</a></p>
						</div>
					</template>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/guides.js"></script>
</html>
